.container {
	padding: 0 15px !important;
	margin: 0 auto !important;
	box-sizing: border-box !important;
	max-width: 1200px !important;
}

/* .............................Header-css-start............................ */
.my-cart-logo {
	/* font-size: 22px; */
	/* border: 1px solid black; */
	/* border-radius: 33px; */
	font-size: 20px;
	cursor: pointer;
	color: #333333;
	text-align: center;
	background: #ffaf04;
	width: 40px;
	height: 40px;
	line-height: 38px;
	border-radius: 50%;
}

.navbar-menu {
	color: aliceblue;
	background-color: black;
}



/* ........bannner-block-css-start.............. */
.item {
	position: relative;
}

.banner-1-text {
	position: absolute;
	top: 40%;
	left: 10%;
	right: 0;
	transform: translate(0, -50%);
	font-size: 52px;
}

.discount-text {
	position: absolute;
	top: 58%;
	left: 10%;
	right: 0;
	transform: translate(0, -50%);
	font-size: 40px;
}

.shop-button {
	position: absolute;
	top: 75%;
	left: 10%;
}

.shop-button {
	position: absolute;
	top: 75%;
	left: 10%;
	color: black;
	text-decoration: none;
	border: 2px;
	width: 120px;
	text-align: center;
	background-color: #ffaf04;
}

/* ........bannner-block-css-end.............. */

/* ...........promotion-block-css-start.............. */
.promotion-block {
	display: flex;
}

/* ...........promotion-block-css-end.............. */

/* ..............featured-product-block-css-start.............. */
/* .featured-product-title{
	font-size: 40px;
	text-align: center;
	margin: 10px 0px;
}
.featured-anchor{
	text-decoration: none;
	color: #666666;
	text-align: center !important;
}
.featured-anchor:hover {
	color: #ffaf04 !important;
	transition-duration: 1s;
}
.card{
	margin-top: 20px !important;
}
.card-title {
	text-align: center;
} */
.container {
	display: block;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	max-width: 1200px;
	box-sizing: border-box;
}

section .inner-section .best-flower-block {
	display: block;
	margin-top: 35px;
	margin-bottom: 35px;
	clear: both;
}

section .inner-section .best-flower-block .inner-best-flower {
	display: block;
}

section .inner-section .best-flower-block .inner-best-flower .heading {
	display: block;
	height: 70px;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 40px;
}

section .inner-section .best-flower-block .inner-best-flower .heading span {
	display: block;
	font-size: 40px;
	line-height: 1.4;
	font-weight: 600;
	text-align: center;
	position: relative;
}

section .inner-section .best-flower-block .inner-best-flower .heading span::after {
	content: "";
	width: 130px;
	height: 100%;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-bottom: 3px solid #50a37d;
	padding-bottom: 6px;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items {
	display: flex;
	flex-wrap: wrap;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img {
	display: block;
	width: 23%;
	overflow: hidden;
	margin: 0 11px 20px 11px;
	position: relative;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img a {
	display: block;
	position: relative;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img img {
	display: block;
	position: relative;
	max-width: 100%;
	margin-bottom: 15px;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text {
	display: block;
	position: absolute;
	top: 2%;
	left: 3%;
	font-size: 13px;
	color: #fff;
	background: #50a37d;
	padding: 2px 8px 2px;
	border-radius: 2px;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text2 {
	display: block;
	position: absolute;
	top: 2%;
	right: 3%;
	font-size: 13px;
	color: #fff;
	background: #8b8f98;
	padding: 2px 8px 2px;
	border-radius: 2px;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description {
	display: block;
	padding: 0px 5px;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description a {
	color: #555;
	font-weight: 500;
	text-decoration: none;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description a:hover {
	color: #50a37d;
	transition: 1s;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .price {
	font-size: 18px;
	font-weight: 500;
	color: black;
	text-align: left;
	margin: 7px 0;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .action-primary {
	font-size: 14px;
	color: #fff !important;
	background: #50a37d;
	padding: 8px 14px;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}

section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .action-primary:hover {
	background: #187149;
	transition: 1s;
}


/* ...........media-qu................ */
@media (max-width : 991px) {
	section .inner-section .best-flower-block {
		display: block;
		margin-top: 25px;
		margin-bottom: 25px;
		clear: both;
	}

	section .inner-section .best-flower-block .inner-best-flower .heading {
		display: block;
		height: 60px;
		position: relative;
		box-sizing: border-box;
		margin-bottom: 25px;
	}

	section .inner-section .best-flower-block .inner-best-flower .heading span {
		display: block;
		font-size: 28px;
		line-height: 1.4;
		font-weight: 600;
		text-align: center;
		position: relative;
	}

	section .inner-section .best-flower-block .inner-best-flower .heading span::after {
		content: "";
		width: 100px;
		height: 100%;
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-bottom: 3px solid #50a37d;
		padding-bottom: 6px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img {
		display: block;
		width: 22%;
		overflow: hidden;
		margin: 0 10px 15px 10px;
		position: relative;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img img {
		display: block;
		position: relative;
		max-width: 100%;
		margin-bottom: 12px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text {
		display: block;
		position: absolute;
		top: 2%;
		left: 3%;
		font-size: 11px;
		color: #fff;
		background: #50a37d;
		padding: 2px 4px 2px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text2 {
		display: block;
		position: absolute;
		top: 2%;
		right: 3%;
		font-size: 11px;
		color: #fff;
		background: #8b8f98;
		padding: 2px 4px 2px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description {
		display: block;
		padding: 0px 4px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description a {
		color: #555;
		font-weight: 500;
		font-size: 15px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .price {
		font-size: 17px;
		font-weight: 500;
		color: black;
		text-align: left;
		margin: 5px 0;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .action-primary {
		font-size: 12px;
		color: #fff !important;
		background: #50a37d;
		padding: 8px 14px;
		border-radius: 3px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 8px 0;
	}
}

@media (max-width : 767px) {
	section .inner-section .best-flower-block .inner-best-flower .heading {
		display: block;
		height: 55px;
		position: relative;
		box-sizing: border-box;
		margin-bottom: 20px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img {
		display: block;
		width: 22%;
		overflow: hidden;
		margin: 0 7px 12px 7px;
		position: relative;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text {
		display: block;
		position: absolute;
		top: 2%;
		left: 3%;
		font-size: 9px;
		color: #fff;
		background: #50a37d;
		padding: 2px 4px 2px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text2 {
		display: block;
		position: absolute;
		top: 2%;
		right: 3%;
		font-size: 9px;
		color: #fff;
		background: #8b8f98;
		padding: 2px 4px 2px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description a {
		color: #555;
		font-weight: 500;
		font-size: 10px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .price {
		font-size: 15px;
		font-weight: 500;
		color: black;
		text-align: left;
		margin: 5px 0;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .action-primary {
		font-size: 11px;
		color: #fff !important;
		background: #50a37d;
		padding: 6px 10px;
		border-radius: 3px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 6px 0;
	}
}

@media (max-width : 639px) {
	section .inner-section .best-flower-block {
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		clear: both;
	}

	section .inner-section .best-flower-block .inner-best-flower .heading {
		display: block;
		height: 45px;
		position: relative;
		box-sizing: border-box;
		margin-bottom: 10px;
	}

	section .inner-section .best-flower-block .inner-best-flower .heading span {
		display: block;
		font-size: 22px;
		line-height: 1.4;
		font-weight: 600;
		text-align: center;
		position: relative;
	}

	section .inner-section .best-flower-block .inner-best-flower .heading span::after {
		content: "";
		width: 80px;
		height: 100%;
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-bottom: 3px solid #50a37d;
		padding-bottom: 4px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img {
		display: block;
		width: 22%;
		overflow: hidden;
		margin: 0 6px 12px 6px;
		position: relative;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text {
		display: block;
		position: absolute;
		top: 2%;
		left: 3%;
		font-size: 8px;
		color: #fff;
		background: #50a37d;
		padding: 2px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text2 {
		display: block;
		position: absolute;
		top: 2%;
		right: 3%;
		font-size: 8px;
		color: #fff;
		background: #8b8f98;
		padding: 2px 3px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description a {
		color: #555;
		font-weight: 500;
		font-size: 9px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .price {
		font-size: 13px;
		font-weight: 500;
		color: black;
		text-align: left;
		margin: 5px 0;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description .action-primary {
		font-size: 10px;
		color: #fff !important;
		background: #50a37d;
		padding: 4px 7px;
		border-radius: 3px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		margin: 6px 0;
	}
}

@media (max-width : 479px) {
	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img {
		display: block;
		width: 45%;
		overflow: hidden;
		margin: 0 6px 12px 6px;
		position: relative;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text {
		display: block;
		position: absolute;
		top: 2%;
		left: 3%;
		font-size: 10px;
		color: #fff;
		background: #50a37d;
		padding: 2px 4px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .sub-text2 {
		display: block;
		position: absolute;
		top: 2%;
		right: 3%;
		font-size: 10px;
		color: #fff;
		background: #8b8f98;
		padding: 2px;
		border-radius: 2px;
	}

	section .inner-section .best-flower-block .inner-best-flower .best-flower-items .best-flower-img .best-description a {
		color: #555;
		font-weight: 500;
		font-size: 12px;
	}
}


/* ..............featured-product-block-css-end.............. */

/* ................offer-block-css-start.................. */

/* ................offer-block-css-end.................. */

/* .........................testimonial-block-css-start......................... */
.teastimonial-title {
	text-align: center;
	font-size: 40px;
	margin: 10px 0px;
}

.testimonial-img {
	margin: auto;
}

.testimonial-content {
	text-align: center;
}

.field-name {
	margin-left: 10px;
	color: #ffaf04;
}

.item {
	background-color: whitesmoke;
}

/* .........................testimonial-block-css-end......................... */


/* ...........................footer-css-start............................ */
.list-a {
	text-decoration: none;
}

.list-a:hover {
	color: #50a37d !important;
	margin-left: 5px;
	transition-duration: 1s;
}

.text-reset a {
	text-decoration: none;
	color: #595d60;
}

.text-reset a:hover {
	color: #50a37d !important;
	transition-duration: 1s;
}

/* .ripple.ripple-surface.ripple-surface-light.btn.btn-primary {
	color: aliceblue;
	background-color: #50a37d !important;
	border: none;
} */
.ripple.ripple-surface.btn.btn-primary {
	color: aliceblue;
	background-color: #50a37d !important;
	border: none;
}

.ripple.ripple-surface.btn.btn-primary:hover {
	color: aliceblue;
	background-color: #187149 !important;
	border: none;
	transition: 1s;
}


/* .........................Account-page-css............................. */
.login-main {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-main .login-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-main form {
	display: flex;
	flex-direction: column;
}

.login-main label {
	margin-bottom: 5px;
}

.login-main input {
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.login-main button {
	padding: 8px 12px;
	background-color: #50a37d;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.login-main button:hover {
	background-color: #14623f;
	transition: 1s;
}

.logout-btn {
	width: 100px;
	margin: 2% 45%;
	background-color: #50a37d;
	color: aliceblue;
	height: 38px;
}

.logout-btn:hover {
	color: #50a37d !important;
	transition-duration: 1s;
	background-color: #333333;
}


/* ................delivery-page-css.................... */
.delivery-main {
	display: block;
}

.delivery-inner {
	display: block;
}

.delivery-header {
	display: block;
}

.delivery-middle {
	display: block;
}

.delivery-lower {
	display: block;
}

.delivery-detail {
	display: block;
}

.delivery-detail-para {
	display: block;
}